.root {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  transition: transform 0.2s;
}

.root:hover {
  transform: translateY(-4px);
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 1rem;
  color: black;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.city {
  font-size: 0.875rem;
  color: #666;
  margin: 0 0 0.5rem 0;
}

.description {
  font-size: 0.875rem;
  color: #333;
  margin: 0 0 1rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-size: 1.125rem;
  font-weight: 600;
  color: #2e7d32;
  margin: 0;
}